<% provide(:title, @user.username) %>
<div class="row">
  <aside class="col-md-4">
    <section id="user_info">
      <h1><%= @user.username %></h1>
      <h2><span class="karma">0</span> link karma</h2>
      <h2><span class="karma">0</span> comment karma</h2>
    </section>
  </aside>
  <aside class="col-md-8">
    <section id="user_overview">
      <h1>Posts</h1>
      <%= render @user.submissions %>
      <br>
      <h1>Comments</h1>
      <%= render @user.comments %>
    </section>
  </aside>
</div>
