<section class="votes">
  <%= link_to "&#9650;".html_safe, votes_path( { upvote: true,
                                       votable_id: votable.id }),
                                       method: :post,
                                       remote: true %>
  <br>
  <%= link_to "&#9660;".html_safe, votes_path( { upvote: false,
                                       votable_id: votable.id }),
                                       method: :post,
                                       remote: true %>
</section>
