<% provide(:title, @submission.title) %>
<div class="row">
  <aside class="col-md-12">
    <%= render @submission %>
  </aside>
  <aside class="col-md-12">
    <section id="post_comments">
      <section class="add_comment">
        <%= render "shared/comment_form", comment: @comment, commentable: @submission %>
      </section>
      <h2>all <%= @submission.comments.count %> comments</h2>
      <%= render @submission.comments %>
    </section>
  </aside>
</div>
