<footer class="footer">
  <small>
    RedditOnRails by <a href="http://www.twitter.com/dionlarson">Dion Larson</a>.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><a href="http://makeschool.com/">MakeSchool</a></li>
    </ul>
  </nav>
</footer>
